<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand text-light" href="{{ path('app_movie') }}">
                        <i class="bi bi-film"></i>
                    </a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-light" type="submit">
                    Search
                </button>
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                {% if app.user %}
                    <a class="nav-link text-secondary" href="{{ path('app_logout') }}">
                        <i class="bi bi-escape text-white" style="font-size: 2rem;"></i>
                    <!-- icône logout -->
                    </a>
                {% else %}
                    <a class="nav-link text-secondary" href="{{ path('app_login') }}">
                        <i class="bi bi-person-circle text-white" style="font-size: 2rem;"></i>
                    <!-- icône login -->
                    </a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
